<mat-card>
  <mat-panel-title>
    Images
  </mat-panel-title><br/>
  <jc-docker-images [type]="'edit'" [namespace]="selectedDeployment.namespace" [references]="references" [currentVersion]="currentVersion" [selectedImage]="selectedImage" (haveChanges)="flagHaveActions($event)" (onAction)="implementAction($event)"></jc-docker-images>
  <mat-card-actions *ngIf="haveActions" align="right">
    <button #updateButton mat-raised-button color="warn" (click)="commitUpdate()">Update</button>
  </mat-card-actions>
</mat-card>
