<div>
  <div class="toolbar " style="height: 64px; background-color: #1776BF">
    <a routerLink="/home"><img src="assets/_images/wm-devops-logo.svg" height="64px"/></a>
    <a routerLink="build" class="toolbar-item" [ngClass]="classForMenuItem('build')">Build</a>
    <a routerLink="/deploy" class="toolbar-item" [ngClass]="classForMenuItem('deploy')">Deploy</a>
    <a routerLink="/test" class="toolbar-item" [ngClass]="classForMenuItem('test')">Test</a>
    <a routerLink="/k8s" class="toolbar-item" [ngClass]="classForMenuItem('k8s')">Kubernetes</a>
    <div class="toolbar-right-column">
      <div>
        <mat-form-field *ngIf="settings._environments.length > 1" style="padding: 10px 5px 5px 5px; width: 110px;">
          <mat-select placeholder="Environment" [(value)]="settings.currentEnvironment"
                      style="font-weight: lighter; color: white" (selectionChange)="selectedEnvironmentChanged($event)">
            <mat-option style="font-size: 8pt;" *ngFor="let env of environments" [value]="env">
              {{env}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <a routerLink="/settings" style="line-height: 60px; margin-left: 20px">
          <fa-icon class="icon" [icon]="['fas', 'cog']"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="page-header">
    <div class="page-title-navigation">
      <h1>{{currentMenu.label}} : </h1>
      <div *ngIf="currentMenu.children" class="page-title-nav-bar">
        <a routerLink="{{item}}" *ngFor="let item of currentMenu.children"
           [ngClass]="classForSubmenuItem(item)">{{labelForSubmenu(item)}} </a>
      </div>
    </div>
    <span class="page-description">{{currentMenu.description}}</span>
    <span *ngIf="currentMenu.label == 'Configuration Variables'">
      <a href="" onclick="window.open('http://localhost:5555/#/integration/dsp/microservices.dsp', '_blank', 'location=yes,width=1720,height=870,scrollbars=yes,status=yes'); return false" matTooltip="Opens a link to your local Microservices Runtime Portal from where you can export a configurations template file" style="width:15px;"> <fa-icon class="icon" [icon]="['fas', 'external-link-alt']" style="margin-left: 5px; color: blue; margin-right: 20px"> </fa-icon> </a>
    </span>
  </div>
  <div class="page-wrapper">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
