    <div class="page-content-wrapper">
          <form [formGroup]="form">
              <div>
                  <mat-form-field style="min-width: 450px; margin-right: 10px">
                      <input id="build.properties.filename" matInput placeholder="Select properties file" formControlName="propsCtrl" [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let file of propertyFiles | async" [value]="file">
                              {{file}}
                          </mat-option>
                      </mat-autocomplete>
                  </mat-form-field>
                  <button *ngIf="isExistingPropertyFile()" id="build.image.msr.downloadPropertiesButton" (click)="downloadProperties($event)" [disabled]="!propsCtrl.value" style="margin-left: -10px; margin-right: 30px; border: none; background-color: transparent"><fa-icon class="icon" [icon]="['fas', 'file-download']" style="font-size: 12px; color: blue"></fa-icon></button>
                  <div *ngIf="propsCtrl.value" style="flex-grow: 1; display: inline-flex; justify-content: flex-end; align-items: center; margin-left: 20px">
                      <button id="build.properties.addFile" mat-flat-button color="accent" (click)="addPropertiesFile($event)" [disabled]="isExistingPropertyFile()"><fa-icon class="icon" [icon]="['fas', 'plus-circle']"></fa-icon></button>
                      <button id="build.properties.copyFile" mat-flat-button color="primary" (click)="copyPropertiesFile($event)" [disabled]="!isExistingPropertyFile()" style="margin-left: 10px"><fa-icon class="icon" [icon]="['fas', 'copy']"></fa-icon></button>
                      <button id="build.properties.deleteFile" mat-flat-button color="warn" (click)="deletePropertiesFile($event)" [disabled]="!isExistingPropertyFile()" style="margin-left: 30px"><fa-icon class="icon" [icon]="['fas', 'trash-alt']"></fa-icon></button>
                      <button id="build.properties.addRecommendations" mat-flat-button color="primary" (click)="setRecommendedSettings(true)" [disabled]="hasRecommendedSettings()" style="margin-left: 80px">Include recommended properties</button>

                  </div>
                  <div style="float: right">
                      <file-uploader-button id="build.image.msr.uploadPropertiesButton" alias="properties" type="properties" title="Upload local file" uploadURL="/invoke/jc.devops.console.resources_.services:uploadMultipartForm" (onCompletion)="propertiesFileAdded($event)"></file-uploader-button>
                  </div>
              </div>

              <div *ngIf="currentFile">
                  <div *ngIf="jdbcAliases" class="group-panel">
                      <div class="group-title" style="width: 30%">webMethods JDBC functions</div>
                      <div style="display: flex; justify-content: space-around; padding-left: 30px">

                          <mat-form-field floatLabel="false">
                              <mat-select placeholder="Service connection alias" [formControl]="auditDestCtrl">
                                  <mat-option value="default">Not set</mat-option>
                                  <mat-option *ngFor="let alias of jdbcAliases" [value]="alias">{{alias}}</mat-option>
                              </mat-select>
                              <mat-hint>jdbcfunc.ISCoreAudit.connPoolAlias</mat-hint>
                          </mat-form-field>

                          <mat-form-field floatLabel="false">
                              <mat-select placeholder="IS Internal alias" [formControl]="internalDestCtrl">
                                  <mat-option value="default">Not set</mat-option>
                                  <mat-option *ngFor="let alias of jdbcAliases" [value]="alias">{{alias}}</mat-option>
                              </mat-select>
                              <mat-hint>jdbcfunc.ISInternal.connPoolAlias</mat-hint>
                          </mat-form-field>

                          <mat-form-field floatLabel="false">
                              <mat-select placeholder="Central Users alias" [formControl]="centralUserCtrl">
                                  <mat-option value="default">Not Set</mat-option>
                                  <mat-option *ngFor="let alias of jdbcAliases" [value]="alias">{{alias}}</mat-option>
                              </mat-select>
                              <mat-hint>jdbcfunc.CentralUsers.connPoolAlias</mat-hint>
                          </mat-form-field>

                          <mat-form-field floatLabel="false">
                              <mat-select placeholder="Adapters alias" [formControl]="adaptersCtrl">
                                  <mat-option value="default">Not set</mat-option>
                                  <mat-option *ngFor="let alias of jdbcAliases" [value]="alias">{{alias}}</mat-option>
                              </mat-select>
                              <mat-hint>jdbcfunc.Adapters.connPoolAlias</mat-hint>
                          </mat-form-field>

                          <mat-form-field floatLabel="false">
                              <mat-select placeholder="Xref alias" [formControl]="xrefCtrl">
                                  <mat-option value="default">Not Set</mat-option>
                                  <mat-option *ngFor="let alias of jdbcAliases" [value]="alias">{{alias}}</mat-option>
                              </mat-select>
                              <mat-hint>jdbcfunc.Xref.connPoolAlias</mat-hint>
                          </mat-form-field>

                      </div>
                  </div>

                  <div *ngIf="wmCloudAliases" class="group-panel">
                      <div class="group-title" style="width: 30%">webMethods.io Coud Connectivity</div>
                      <mat-expansion-panel *ngFor="let alias of wmCloudAliases" style="margin:10px; box-shadow: none; background-color: #ceadea">
                          <mat-expansion-panel-header class="" role="button">{{alias}}</mat-expansion-panel-header>
                          <div class="mat-expansion-panel-content" role="region">
                              <jc-build-properties-table [properties]="wmCloudConnections.get(alias).toProperties(true)" prefixForKey="wmcloudsettings.{{alias}}." readOnlyKey="true" (propertiesChanges)="wmCloudPropertiesDidChange(alias, $event)"></jc-build-properties-table>
                          </div>
                          <button style="padding-left: 10px; border: none; background-color: transparent;" (click)="deleteWmCloudConnection(alias)"><fa-icon class="icon" [icon]="['fas', 'trash-alt']" style="color: red"></fa-icon> Delete connection</button>
                      </mat-expansion-panel>
                      <div style="float: right">
                          <button style="padding-bottom: 10px; border: none; background-color: transparent;" (click)="addWmCloudConnection()"><fa-icon class="icon" [icon]="['fas', 'plus-square']" style="color: cadetblue"></fa-icon> Add connection</button>
                      </div>
                  </div>

                  <div *ngIf="jdbcAliases" class="group-panel">
                      <div class="group-title" style="width: 30%">JDBC Pools</div>
                      <mat-expansion-panel *ngFor="let alias of jdbcAliases" style="margin:10px; box-shadow: none; background-color: #ceadea">
                          <mat-expansion-panel-header class="" role="button">{{alias}}</mat-expansion-panel-header>
                          <div class="mat-expansion-panel-content" role="region">
                              <jc-build-properties-table [properties]="jdbcConnections.get(alias).toProperties(true)" prefixForKey="jdbc.{{alias}}." readOnlyKey="true" (propertiesChanges)="jdbcPropertiesDidChange(alias, $event)"></jc-build-properties-table>
                          </div>
                          <button style="padding-left: 10px; border: none; background-color: transparent;" (click)="deleteJDBCPool(alias)"><fa-icon class="icon" [icon]="['fas', 'trash-alt']" style="color: red"></fa-icon> Delete pool</button>
                      </mat-expansion-panel>
                      <div style="float: right">
                          <button style="padding-bottom: 10px; border: none; background-color: transparent;" (click)="addJDBCPool()"><fa-icon class="icon" [icon]="['fas', 'plus-square']" style="color: cadetblue"></fa-icon> Add pool</button>
                      </div>
                  </div>

                  <div *ngIf="artAliases" class="group-panel">
                      <div class="group-title" style="width: 30%">Adapter Connections</div>
                      <mat-expansion-panel *ngFor="let alias of artAliases" style="margin:10px; box-shadow: none; background-color: lightblue">
                          <mat-expansion-panel-header class="" role="button">{{alias}}</mat-expansion-panel-header>
                          <div class="mat-expansion-panel-content" role="region">
                              <jc-build-properties-table [properties]="artConnections.get(alias).toProperties()" prefixForKey="artConnection.{{alias}}." readOnlyKey="true" (propertiesChanges)="artPropertiesDidChange(alias, $event)"></jc-build-properties-table>
                          </div>
                          <button style="padding-left: 10px; border: none; background-color: transparent;" (click)="deleteArtConnection(alias)"><fa-icon class="icon" [icon]="['fas', 'trash-alt']" style="color: red"></fa-icon> Delete connection</button>

                      </mat-expansion-panel>
                      <div style="float: right">
                          <button style="padding-bottom: 10px; border: none; background-color: transparent;" (click)="addArtConnection()"><fa-icon class="icon" [icon]="['fas', 'plus-square']" style="color: cadetblue"></fa-icon> Add connection</button>
                      </div>
                  </div>

                  <div class="group-panel">
                      <div class="group-title" style="width: 30%">Other Properties</div>
                      <mat-expansion-panel style="margin:10px; box-shadow: none; background-color: lightgreen">
                          <mat-expansion-panel-header class="" role="button">Extended Settings</mat-expansion-panel-header>
                          <div class="mat-expansion-panel-content" role="region">
                              <jc-build-properties-table [properties]="extendedProperties" prefixForKey='settings.' [availableKeys]='availableExtendedSettings' (propertiesChanges)="extendedPropertiesDidChange($event)"></jc-build-properties-table>
                          </div>
                      </mat-expansion-panel>

                      <mat-expansion-panel style="margin:10px; box-shadow: none; background-color: lightgreen">
                          <mat-expansion-panel-header class="" role="button">Global Properties</mat-expansion-panel-header>
                          <div class="mat-expansion-panel-content" role="region">
                              <jc-build-properties-table [properties]="globalProperties" prefixForKey="globalvariable." postfixForKey=".value" [allowDots]="false" (propertiesChanges)="globalPropertiesDidChange($event)"></jc-build-properties-table>
                          </div>
                      </mat-expansion-panel>

                      <mat-expansion-panel style="margin:10px; box-shadow: none; background-color: lightgreen">
                          <mat-expansion-panel-header class="" role="button">Misc Settings</mat-expansion-panel-header>
                          <div class="mat-expansion-panel-content" role="region">
                              <jc-build-properties-table [properties]="otherProperties" (propertiesChanges)="otherPropertiesDidChange($event)"></jc-build-properties-table>
                          </div>
                      </mat-expansion-panel>
                  </div>
              </div>
          </form>
      </div>
