    <div class="page-content-wrapper">
          <form [formGroup]="form">
                <mat-card>
                  <ng-template matStepLabel>Identify Source Code Set</ng-template>
                      <div style="display: flex; flex-direction: column; align-items: flex-start;">
                        <div>
                          <mat-form-field style="min-width: 600px">
                            <input id="build.source.deploymentSet" matInput placeholder="Deployment Name" [formControl]="deploymentNameCtrl" (change)="nameDidChange($event)" [matAutocomplete]="auto">
                            <span matSuffix *ngIf="isExistingDeploymentSet() && apiEnabled">
                              <button mat-button color="primary" id="build.packages.reindex" (click)="reindexDeploymentSet($event)" style="margin-left: 20px" aria-label="reindex package dependencies" matTooltip="reindex package dependencies, use this if your source code has changed since creating deployment set">
                                <fa-icon class="icon" [icon]="['fas', 'sync-alt']" style="color: orange"></fa-icon>
                              </button>
                            </span>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="deploymentSetChanged($event)">
                              <mat-option *ngFor="let set of filteredSets | async" [value]="set">
                                {{set}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                          <div *ngIf="deploymentNameCtrl.value" style="flex-grow: 1; display: inline-flex; justify-content: flex-end; align-items: center; margin-left: 20px">
                            <button id="build.packages.addDeploymentSet" mat-flat-button color="accent" (click)="addDeploymentSet($event)" [disabled]="isExistingDeploymentSet()" style="margin-right: 10px">Add</button>
                            <button id="build.packages.deleteDeploymentSet" mat-flat-button color="warn" (click)="deleteDeploymentSet($event)" [disabled]="!isExistingDeploymentSet()" style="margin-left: 10px">Delete</button>
                          </div>
                        </div>

                        <div *ngIf="isExistingDeploymentSet()" class="example-table-container" style="width: 100%">
                          <h3 style="color: gray; margin-top: 15px">Selected packages</h3>
                          <mat-table #reposTable class="mat-elevation-z8" style="width: 100%" [dataSource]="repositories">

                            <ng-container matColumnDef="type" style="padding: 5px">
                              <mat-header-cell style="width: 80px" mat-header-cell *matHeaderCellDef>Source</mat-header-cell>
                              <mat-cell style="width: 80px" mat-cell *matCellDef="let row">

                                  <mat-select  placeholder="Source" [formControl]="sourceTypeCtrl" [disabled]="true">
                                    <mat-option *ngFor="let source of sources" [value]="source">
                                      {{source}}
                                    </mat-option>
                                  </mat-select>
                              </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="repository" style="padding: 5px">
                              <mat-header-cell style="flex-grow: 1" mat-header-cell *matHeaderCellDef>Repository</mat-header-cell>
                              <mat-cell style="flex-grow: 1" mat-cell *matCellDef="let row">
                                <ng-container *ngIf="row.name; else pickRepo">
                                  {{row.name}}
                                </ng-container>
                                <ng-template #pickRepo>
                                  <mat-select  placeholder="Repository" [formControl]="repoNameCtrl">
                                    <mat-option *ngFor="let repo of availableRepositories()" [value]="repo">
                                      {{repo.name}}
                                    </mat-option>
                                  </mat-select>
                                </ng-template>
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="description" style="padding: 5px">
                              <mat-header-cell style="flex-grow: 2" mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                              <mat-cell style="flex-grow: 2" *matCellDef="let row">{{row.description}}</mat-cell>>
                            </ng-container>
                            <ng-container matColumnDef="packages" style="padding: 5px">
                              <mat-header-cell style="flex-grow: 3; margin-left: 15px" mat-header-cell *matHeaderCellDef>Package(s)</mat-header-cell>
                              <mat-cell style="flex-grow: 3" *matCellDef="let row">
                                <ng-container *ngIf="row.path; else nameOnly">
                                  <div style="width: 100%; display: flex; justify-content: space-between; align-items: center">
                                    <mat-chip-list>
                                      <mat-chip *ngFor="let package of row.include" color="primary" selected>{{package}}</mat-chip>
                                    </mat-chip-list>
                                    <mat-chip-list style="margin-left: 15px">
                                      <mat-chip label="Select packages" (click)="openGitDialog(row)"><fa-icon class="icon" [icon]="['fas', 'ellipsis-v']"></fa-icon></mat-chip>
                                    </mat-chip-list>
                                  </div>
                                </ng-container>
                                <ng-template #nameOnly>
                                  <mat-chip-list *ngIf="row.name">
                                    <mat-chip color="primary" selected>{{row.name}}</mat-chip>
                                  </mat-chip-list>
                                </ng-template>
                              </mat-cell>>
                            </ng-container>
                            <ng-container matColumnDef="apis" style="padding: 5px">
                              <mat-header-cell style="flex-grow: 2" mat-header-cell *matHeaderCellDef>APIs</mat-header-cell>
                              <mat-cell style="flex-grow: 2" *matCellDef="let row">
                                <mat-chip-list *ngIf="row.name">
                                  <mat-chip *ngFor="let api of row.selectedAPIs" color="warn" selected>{{api.name}}</mat-chip>
                                </mat-chip-list>
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="selected" style="padding: 5px">
                              <mat-header-cell style="width: 50px" mat-header-cell *matHeaderCellDef></mat-header-cell>>
                              <mat-cell style="width: 110px" *matCellDef="let row">
                                <button mat-button class="red-on-hover"><fa-icon (click)="removeRepository(row)" class="icon" [icon]="['fas', 'trash-alt']"></fa-icon></button>
                              </mat-cell>
                            </ng-container>
                            <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
                          </mat-table>
                          <div *ngIf="isExistingDeploymentSet()" style="float: left">
                            <button mat-button color="accent" (click)="addRepository()" style="margin-top: 20px; margin-right: 20px; font-size: 10px; line-height: 21px">Add Repository</button>
                          </div>
                          <mat-paginator [length]="repositories.data.length" [pageSize]="10" aria-label="Select page of GitHub search results"></mat-paginator>
                        </div>
                        <div *ngIf="deploymentSetNotConfigured()" style="margin-left: auto; margin-right: auto">
                          <div style="background-color: darkorange; border-radius: 10px; margin-top:60px; line-height:15px"><h2 style="padding: 16px; margin-bottom: 0px;">No packages have selected</h2></div>
                        </div>

                        <div style="padding:10px; width:100%" *ngIf="!deploymentSetNotConfigured()">
                          <div *ngIf="haveDependencies()">
                            <h3 style="color: red; margin-top: 15px;">Required packages</h3>
                            <table id="build.package.dependents" #dependentsTable mat-table [dataSource]="dependencies" style="width: 100%" class="mat-elevation-z8">
                              <!-- Checkbox Column -->
                              <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                  <mat-checkbox (change)="$event ? masterDependenciesToggle() : null"
                                                [checked]="selectedDependencies.hasValue() && isAllDependenciesSelected()"
                                                [indeterminate]="selectedDependencies.hasValue() && !isAllDependenciesSelected()">
                                  </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                  <mat-checkbox *ngIf="row.repistory" (click)="$event.stopPropagation()"
                                                (change)="$event ? selectDependencyRow(row) : null"
                                                [checked]="selectedDependencies.isSelected(row)">
                                  </mat-checkbox>
                                </td>
                              </ng-container>

                              <ng-container matColumnDef="repository">
                                <th mat-header-cell *matHeaderCellDef> Repository Name</th>
                                <td mat-cell *matCellDef="let element"> {{element.repository}} </td>
                              </ng-container>

                              <ng-container matColumnDef="package">
                                <th mat-header-cell *matHeaderCellDef> Package Name</th>
                                <td mat-cell *matCellDef="let element">
                                  <mat-chip-list>
                                    <mat-chip color="primary" selected>{{element.name}}</mat-chip>
                                  </mat-chip-list>
                                </td>
                              </ng-container>

                              <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef> Description </th>
                                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                              </ng-container>

                              <ng-container matColumnDef="tests">
                                <th mat-header-cell *matHeaderCellDef> Test Suite Included </th>
                                <td mat-cell *matCellDef="let element"> {{element.testStatus}} </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="dependencyDisplayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: dependencyDisplayedColumns;"
                                  (click)="selectedDependencies.toggle(row)">
                              </tr>
                            </table>
                            <div style="float: right; padding: 10px">
                              <button id="build.package.addDependents" mat-flat-button color="primary" (click)="addSelectedDependentsToSource()" [disabled]="!haveSelectedSomeDependents()" style="margin-right: 10px">Add ({{this.selectedDependencies.selected.length}})</button>
                              <button id="build.package.ignoreDependents" mat-flat-button color="accent" (click)="addSelectedDependentsToIgnore()" [disabled]="!haveSelectedSomeDependents()">Ignore ({{this.selectedDependencies.selected.length}})</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </mat-card>
          </form>
      </div>
