#home-page {
  height: 1000px
}
.block {
	background-color: rgb(23, 118,191);
	color: white;
	padding: 10px;
	width: 300px;
	height: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}
.stack-vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	padding: 5px;
}
.row {
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 margin-top: 100px
}
.page-title {
	font-size: 14px;
	color: darkgray;
}
.page-content-title {
	text-align: center;
}
.title {
	font-size: 30px;
	line-height: 75px;
	vertical-align: middle;
}
.subject {
	font-size: 14px;
}
.learn-more {
	background-color: rgba(0,0,0, 0.3);
	color: white;
	padding: 5px;
	margin-top: 30px;
	border: none;
	text-transform: uppercase;
	font-size: 14px;
}
.learn-more:hover {
	color: orange;
}
.extra {
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	display: none;
}
.blockextra {
	background-color: rgba(23, 118,191, 0.96);
	color: white;
	padding: 10px;
	width: 200px;
	height: 75px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}
.titleExtra {
	font-size: 12px;
	font-weight: bold;
}
.subjectExtra {
	font-size: 11px;
	font-weight: lighter;
}
.go {
	background-color: rgba(0,0,0, 0.3);
	color: white;
	padding: 5px;
	margin-top: 10px;
	border: none;
	text-transform: uppercase;
	font-size: 11px;
}
.go:hover {
	font-weight: bolder;
	color: orange;
}
#buildextra {
	bottom: -800px;
}
#deployextra {
	bottom: -800px;
}
#testextra {
	bottom: -800px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
