a {
	text-decoration: none !important;
	color: white !important;
	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 10px;
}
a:visited {
	color: white;
}
a:hover {
	background-color: gray;
}

.toolbar {
	height: 50px;
	background-color: rgb(23, 115, 187);
}
.toolbar-content {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 30px;
	padding: 5px;
}
.toolbar-title-column {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	width: 250px;
	color: white;
	font-size: 10px;
}
.toolbar-right-column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-grow: 2;
	color: white;
}
.toolbar-links {
	font-size: 11px;
	line-height: 21px;
}
mat-card-actions {
	position: absolute;
	right:20px;
	bottom: 0px;
}
.horizontal-line:after {
  width:20px;
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 50%;
  border: 0.5px solid #ff0000;
}