<mat-card>
    <ng-template matStepLabel>Packages</ng-template>
    <div>
        <div style="float: right"><fa-icon class="icon" [icon]="['fas', 'times']"  (click)="onNoClick()"></fa-icon></div>
        <h3>Choose packages to include</h3>
        <git-source [selectedRepoName]="repoName" [showSource]="true" [selected]="deploymentSetPackages()" (selectedSourcesLoaded)="selectedSourcesDidLoad($event)" (selectedSourcesChanged)="selectedSourcesDidChange($event)" (apiActivated)="gitAPIActivated($event)" style="width:100%; margin-top: 60px"></git-source>
    </div>
</mat-card>
